@model List<Online_chat.Models.User>

@if (Model.Any())
{
    foreach (var friend in Model)
    {
        <div class="friend-item">
            <p>@friend.DisplayName</p>
            <small>(ID: @friend.Id)</small>
        </div>
    }
}
else
{
    <p>Bạn chưa có bạn bè nào.</p>
}